<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title>{{ .Page.Title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" type="image/png" href="/favicon.ico" />
		<link href="{{ "css/main.css" | relURL }}" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/fancybox/jquery.fancybox.js"></script>
	<link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

	</head>
	<body>

		<div id="maincontainer">
			{{ partial "header" .}}
			<div id="mainbody">
				{{ partial "sidebar" . }}
				<div id="main">
					<div class="inner">
							{{ block "main" . }}

							{{ end }}
					</div>
				</div>
			</div>
			{{partial "footer" . }}
		</div>
	</body>

</html>
