<div class="social">
	{{ if isset .Site.Params "github" }}
		<a class="social-icons" href="https://github.com/{{ .Site.Params.github }}" target="_blank"><img src="/images/icons/github.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "twitter" }}
		<a class="social-icons" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"><img src="/images/icons/twitter.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "facebook" }}
		<a class="social-icons" href="https://www.facebook.com/{{ .Site.Params.facebook }}" target="_blank"><img src="/images/icons/facebook.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "instagram" }}
		<a class="social-icons" href="https://www.instagram.com/{{ .Site.Params.instagram }}" target="_blank"><img src="/images/icons/instagram.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "youtube" }}
		<a class="social-icons" href="https://www.youtube.com/user/{{ .Site.Params.youtube }}" target="_blank"><img src="/images/icons/youtube.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "linkedin" }}
		<a class="social-icons" href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank"><img src="/images/icons/linkedin.svg"></a>
	{{ end }}
	{{ if isset .Site.Params "email" }}
		<a class="social-icons" href="mailto:{{ $.Site.Params.email }}" onclick = "this.href=this.href .replace(/AT/,'&#64;') .replace(/DOT/,'&#46;')"><img src="/images/icons/email.svg"></a>
	{{ end }}
</div>
